.categories {
  margin-top: 200px;

  & .links {
    display: flex;
    justify-content: space-between;

    & .category {
      border-radius: 5px;
      background-color: $grey;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      height: 204px;
      padding-bottom: 30px;

      & .category-img {
        width: 200px;
        margin-bottom: -15px;
      }

      & h6 {
        font-weight: 400;
        margin: 0;
        margin-bottom: 20px;
      }

      & a {
        text-transform: uppercase;
        letter-spacing: 2px;
        color: rgba($black, 0.7);
        font-size: 13px;

        & img {
          margin-left: 10px;
        }

        &:hover {
          color: $chocolate;
        }
      }

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}

@media (max-width: 768px) {
  .categories {
    & .links {
      & .category {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 165px;
        padding-bottom: 20px;

        & .category-img {
          width: 150px;
          margin-bottom: 10px;
        }

        & h6 {
          font-size: 15px;
        }

        & a {
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 13px;
        }

        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .categories {
    margin-top: 200px;

    & .links {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      & .category {
        &:not(:last-child) {
          margin-bottom: 68px;
        }
        border-radius: 5px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 165px;
        padding-bottom: 20px;

        & .category-img {
          width: 150px;
          margin-bottom: -10px;
        }

        & h6 {
          font-size: 15px;
        }

        & a {
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 13px;
        }

        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
}
